#class-display {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 750px;
}

#class-display li {
  margin: 10px 0px;
  border: 1px solid black;
  height: 5.5rem;
  border-radius: 11px;
  display: flex;
  transition: all 0.1s ease 0s;
}

#class-display li:hover, .clicked {
  background:rgba(125, 125, 228, 0.2);
}

#class-display li:hover {
  cursor: grab;
}

#trash-icon {
  transition: all 0.5s ease 0s;
  font-size: 1.3rem;
}

#trash-icon:hover {
  color: rgb(130, 0, 0);
}

.color {
  height: 100%;
  width: 10px;
  border-radius: 10px 0px 0px 10px
}

.content {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 0.9rem;
  color: grey
}

.code {
  color: black
}

.loc {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}