#class-display {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

#class-display li {
  margin: 10px 0px;
  border: 1px solid black;
  height: 5.5rem;
  border-radius: 5px;
  display: flex;
  transition: all 0.1s ease 0s;
}

#class-display li:hover, .clicked {
  background:rgba(125, 125, 228, 0.2);
}

#class-display li:hover {
  cursor: grab;
}

#trash-icon {
  transition: all 0.3s ease 0s;
  font-size: 1.3rem;
}

#trash-icon:hover {
  color: rgb(185, 4, 4);
}

.color {
  height: 100%;
  width: 10px;
  border-radius: 4px 0px 0px 4px
}

.content {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 0.9rem;
  color: grey
}

.code {
  color: black
}

.loc {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

#eli5 {
  color: grey;
  font-size: 0.9rem;
  margin-top: -5px;
}

#eli5 p {
  padding: 2px;
}

#line {
  margin-top: 10px;
  margin: 0px -5px;
  color: rgba(128, 128, 128, 0.3);
}