* {
  margin: 0;
  padding: 0;
  font-family: IBM Plex Mono,Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
}

h1 {
  font-size: 1.7rem;
  margin: 10px 0px;
}

#App {
  height: 100vh;
}

#sidebar {
  padding: 10px;
}

#container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr;
}

#search {
  left:50%;
  margin-left:-2.5rem;
  top: 10px;
  width: 40rem;
  position: absolute;
  z-index: 1;
  background: white
}

/* for ClassDisplay and DirectionsDisplay */
#trash-icon {
  transition: all 0.3s ease 0s;
  font-size: 1.3rem;
}

#trash-icon:hover {
  color: rgb(185, 4, 4);
}