* {
  margin: 0;
  padding: 0;
  font-family: IBM Plex Mono,Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
}

h1 {
  font-size: 1.7rem;
  margin: 10px 0px;
}

#App {
  height: 100vh;
}

#sidebar {
  padding: 10px;
}

#container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3.5fr;
}

#search {
  left:50%;
  margin-left:-5rem;
  top: 10px;
  width: 40rem;
  position: absolute;
  z-index: 1;
  background: white
}